.biglabel {
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
    width: 140px;
    height: 34px;
    line-height: 34px;
    text-align: right;
    font-weight: bold;
    border: 1px solid transparent;
    float: left;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
    font-family: helvetica, arial, verdana, sans;
}
.full-row {
    margin-bottom: 9px;
    white-space: nowrap;
}

.spacer {
    height: 3px;
    margin-bottom: 11px;
    background-color: #fff;
}

.centered {
    margin: 0px auto;
    float: center;
}
.input-row {
    display: inline-block;
    position: relative;
    left: -4px;
}
.search-form {
    position: relative;
    background-color: #eef;
    font-size: 22px;
    padding: 20px;
    padding-bottom: 12px;
    margin-bottom: 5px;
}
.input-field {
    color: gray;
    border-width: 2px;
    width: 280px;
    padding: 2px;
    height: 36px;
    font-size: 100%;
    bottom: auto;
    top: auto;
}
.input-black {
    color: black;
}

#frontbox {
    margin: 20px auto;
    position: relative;
    border-radius: 0 0 10px 10px;
    width: 480px;
}

#secbits {
    width: 90px;
}

#generation {
    width: 90px;
}

#nsym {
    width: 90px;
}

#length {
    width: 90px;
}

.title {
    margin: 20px;
}

.title h1 {
    font-weight: normal;
    font-family: helvetica, arial, verdana, sans;
    font-size: 36px;
    height: 40px;
    margin: 6px;
    text-align: center;
}

.title h2 {
    font-weight: normal;
    font-family: helvetica, arial, verdana, sans;
    font-size: 24px;
    height: 30px;
    margin: 6px;
    position: relative;
    text-align: center;
}

.title h3 {
    font-weight: normal;
    font-family: helvetica, arial, verdana, sans;
    font-size: 20px;
    height: 24px;
    margin: 6px;
    position: relative;
    text-align: center;
    font-weight: bold;
}

#result-wrapper {
    background-color: #efe;
    height: 28px;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
}
#result-wrapper .full-row {
    height:100%;
    width:100%;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}
.result-slot {
    width: 210px;
    padding: 4px;
    margin: 0px;
    height: 26px;
    font-size: 100%;
    bottom: auto;
    top: auto;
    left: -2px;
}

#result-computing {
    color: gray;
    border: 1px gray solid;
    position: absolute;
    visibility: hidden;
    text-decoration: blink;
}

#result-need-input {
    color: gray;
    border: 1px gray solid;
    position: absolute
}

#result-computed {
    margin: 0px;
    padding: 0px;
    position: absolute;
    visibility: hidden;
}

#generated_pw {
    font-size: 22px;
    width: 200px;
    font-family: monospace;
}

#expand {
    font-size: 22px;
    border: 1px black solid;
}

#collapse {
   margin-left: 112px;
   font-size: 22px;
   border: 1px black solid;
}

#info {
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
}

#advanced {
   display: none;
}

#expander {
   display: inline;
}
