<html>
 <head>
  <title>
  PassThePeas
  </title>
  <script>
  {% include crypto-min.js %}
  {% include lib-min.js %}
  {% include ui-min.js %}
  </script>
  <style type="text/css">
  {% include main.css %}
  </style>
 </head>
 <body>

  <div class="centered">
   <div class="frontbox">

    <div class="title">
     <h1>Pass The Peas</h1>
     <h2>Site-Specific PWs &mdash; Secure, Free and Easy!</h2>
    </div>

    <form action="#" class="search-form" id="search-main">

      <div class="full-row">
       <label for="field-passphrase" class="biglabel"> passphrase </label>
       <div class="input-row">
        <input id="field-passphrase" name="passphrase" type="text" class="input-field" value="c@t$ s3cr4t" onfocus="acceptFocus(event);" onkeyup="swizzle(event);" />
       </div>
      </div>

      <div class="full-row">
       <label for="field-email" class="biglabel"> e-mail </label>
       <div class="input-row">
        <input id="field-email" name="email" type="text" class="input-field" value="myname@gmail.com" onfocus="acceptFocus(event);" onkeyup="swizzle(event);" />
       </div>
      </div>

      <div class="full-row">
       <label for="field-domain" class="biglabel"> domain </label>
       <div class="input-row">
        <input id="field-domain" name="domain" type="text" class="input-field" value="chase.com" onfocus="acceptFocus(event);" onkeyup="swizzle(event);" />
       </div>
      </div>

      <div class="full-row">
       <label for="field-generation" class="biglabel"> generation </label>
       <div class="input-row">
        <input id="field-generation" name="generation" type="text" class="input-field" value="1" onfocus="acceptFocus(event);" onkeyup="swizzle(event);" />
       </div>
      </div>

      <div class="full-row">
       <label for="field-secbits" class="biglabel"> safety </label>
       <div class="input-row">
        <select id="field-secbits" name="secbits" class="input-field input-black" onChange="swizzle(event);">
         <option>8</option>
         <option>4</option>
         <option>16</option>
         <option>0</option>
         <option>1</option>
         <option>2</option>
         <option>3</option>
         <option>5</option>
         <option>6</option>
         <option>7</option>
         <option>9</option>
         <option>10</option>
         <option>11</option>
         <option>12</option>
         <option>13</option>
         <option>14</option>
         <option>15</option>
        </select>
       </div>
      </div>

      <div class="full-row">
       <label for="field-nsym" class="biglabel">symbs needed</label>
       <div class="input-row">
        <select id="field-nsym" name="nsym" class="input-field input-black" onChange="swizzle(event);">
         <option>0</option>
         <option>1</option>
         <option>2</option>
         <option>3</option>
        </select>
       </div>
      </div>

      <div class="full-row">
       <label for="field-length" class="biglabel"> length </label>
       <div class="input-row">
        <select id="field-length" name="length" type="text" class="input-field input-black" onChange="swizzle(event);" />
         <option>12</option>
         <option>16</option>
         <option>8</option>
         <option>9</option>
         <option>10</option>
         <option>11</option>
         <option>13</option>
         <option>14</option>
         <option>15</option>
        </select>
       </div>
      </div>


    </form>

    <div id="result-wrapper">
     <div class="full-row">
      <label for="field-result" class="biglabel">hash</label>
      <div class="input-row">
       <div id="result-computing" class="result-slot">
        <span>computing....</span>
       </div>
       <div id="result-computed" class="result-slot">
        <span id="generated_pw"> &nbsp; </span>
       </div>
       <div id="result-need-input" class="result-slot">
        <span>...waiting for input...</span>
       </div>
      </div>
     </div>
    </div>


   </div>
  </div>
 </body>
</html>
