<html>
 <head>
  <title>
  PassThePeas
  </title>
  <script>
  {% include lib-min.js %}
  </script>
  <style type="text/css">
  {% include main.css %}
  </style>
 </head>
 <body>
  <div class="centered">
   <form action="#" class="search-form" id="search-main">
   <div class="full-row">
    <label for="f1" class="biglabel"> passphrase </label>
    <div class="input-row">
     <input id="f1" name="passphrase" type="text" class="input-field">
    </div>
   </div>
   </form>
  </div>
 </body>
</html>
