.biglabel {
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
    width: 180px;
    height: 34px;
    line-height: 34px;
    text-align: right;
    font-weight: bold;
    border: 1px solid transparent;
    float: left;
}
body {
    font-family: helvetica, arial, verdana, sans;
}
.full-row {
    margin-bottom: 9px;
    white-space: nowrap;
}
.centered {
    width: 800px;
    margin: 0px auto;
    float: center;
}
.input-row {
    display: inline-block;
    position: relative;
    left: -4px;
}
.search-form {
    position: relative;
    background-color: #eef;
    font-size: 22px;
    padding: 20px;
    padding-bottom: 12px;
    margin-bottom: 5px;
}
.input-field {
    color: gray;
    border-width: 2px;
    width: 300px;
    padding: 2px;
    height: 36px;
    font-size: 100%;
    bottom: auto;
    top: auto;
}
.input-black {
    color: black;
}
.frontbox {
    margin: 20px auto;
    width: 558px;
    position: relative;
    border-radius: 0 0 10px 10px;
}

#field-secbits {
    width: 100px;
}

#field-generation {
    width: 60px;
}

#field-nsym {
    width: 90px;
}

#field-length {
    width: 90px;
}

.title {
    margin: 20px;
}

.title h1 {
    font-weight: normal;
    font-size: 36px;
    height: 40px;
    margin: 6px;
    text-align: center;
}

.title h2 {
    font-weight: normal;
    font-size: 22px;
    height: 22px;
    margin: 6px;
    position: relative;
    text-align: center;
}

#result-wrapper {
    background-color: #efe;
    height: 28px;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.result-slot {
    width: 300px;
    padding: 4px;
    margin: 0px;
    height: 26px;
    font-size: 100%;
    bottom: auto;
    top: auto;
    left: -2px;
}

#result-computing {
    color: gray;
    border: 1px gray solid;
    position: absolute;
    visibility: hidden;
    text-decoration: blink;
}

#result-need-input {
    color: gray;
    border: 1px gray solid;
    position: absolute
}

#result-computed {
    color: #f33;
    border: 2px #f33 solid;
    position: absolute;
    visibility: hidden;
    font-weight: bold;
}
