.biglabel {
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
    width: 96px;
    height: 34px;
    line-height: 34px;
    text-align: right;
    font-weight: bold;
    border: 1px solid transparent;
    float: left;
}
body {
    font-family: helvetica, arial, verdana, sans;
}
.field {
    white-space: nowrap;
    display: block;
    width: 300px;
    float: right; 
    margin-right: 36px;
}
.full-row {
    margin-bottom: 9px;
    white-space: nowrap;
}
.centered {
    width: 1100px;
    margin: 0px auto;
    float: center;
}
.input-row {
    display: inline-block;
    position: relative;
    left: -4px;
}
.search-form {
    position: relative;
    background-color: cornsilk;
    font-size: 22px;
}
.input-field {
    border-width: 2px;
    width: 395px;
    padding: 2px;
    height: 28px;
    font-size: 100%;
}
