<html>
 <head>
  <title>
  One Shall Pass --- Generate a Password
  </title>
  <script>
  {% include js-min/crypto-min.js %}
  {% include js-min/dict-min.js %}
  {% include js-min/pp-min.js %}
  </script>
  <style type="text/css">
  {% include css/pp.css %}
  </style>
  <meta name="viewport" content="width = device-width" />
 </head>
 <body>

   <div id="mainbox">

    <div id="title">
     <h1>Passphrase Generator</h1>
    </div>

    <div id="junk-wrapper">
     <textarea id="junk" onkeyup="gotInput(event)" onfocus="acceptFocus(event)">...please supply sufficient gibberish in this text area....</textarea>
    </div>

    <div id="entropy-wrapper">
     Bits of entropy requested:
     <select type="text" id="entropy" name="entropy" onchange="entropyChanged(event)">

      <option>29</option>
      <option>43</option>
      <option selected="selected">58</option>
      <option>72</option>
      <option>87</option>
     </select>
    </div>

    <div id="pp-wrapper">

     <p id="pp-status">
     ...waiting for input....
     </p>
     <p id="pp-0" class="pp" style="display: none">&nbsp;</p>
   <div>
  </div>
 </body>
</html>
