<html>
 <head>
  <title>
  One Shall Pass 
  </title>
  <script>
  {% include crypto.js %}
  {% include jquery.js %}
  {% include purepack.js %}
  {% include iced.js %}
  {% include lib.js %}
  {% include main.js %}
  </script>
  <style type="text/css">
  {% include css/main.css %}
  </style>
  <meta name="viewport" content="width = device-width" />
 </head>
 <body>
  <h1>One Shall Pass</h1>
  <h2>Site-Specific PWs</h2>
  <h3>Secure, Open, Local, Free and Easy!</h3>

  <table border=1>
   <!-- First section is the mandatory stuff -->
   <tbody>
                                       
    <tr>
     <td class="input-label">passphrase</td>
     <td><input id="passphrase" name="passphrpase" type="text" autocapitalize="off" value="sailor pigdom cork futile" class="input-field" onfocus="accept_focus(event);" onkeyup="accept_form_input(event);" />
    </tr>
  
    <tr>
     <td class="input-label">e-mail</td>
     <td><input id="email" name="email" type="text" class="input-field" value="myname@gmail.com" autocapitalize="off" onfocus="accept_focus(event);" onkeyup="accept_form_input(event);" />
    </tr>

    <tr class="input-label">
     <td>service name</td>
     <td><input id="host" name="host" type="text" class="input-field" value="chase.com" autocapitalize="off" onfocus="accept_focus(event);" onkeyup="accept_form_input(event);" /></td>
    </tr>

   </tbody>

   <!-- Expand to advanced? -->
   <tbody id="advanced-expander">
    <tr>
     <td class="input-label">advanced</td>
     <td><input id="expand" type="button" value="expand" onclick="show_advanced(true);"></td>
    </tr>
   </tbody>

   <!-- Advanced fields -->
   <tbody id="advanced" style="display: none" >
    <tr>
     <td class="input-label">generation</td>
     <td>
      <select id="generation" name="generation" onchange="accept_form_input(event);" />
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
       <option>6</option>
       <option>7</option>
       <option>8</option>
       <option>9</option>
       <option>10</option>
       <option>11</option>
       <option>12</option>
       <option>13</option>
       <option>14</option>
       <option>15</option>
       <option>16</option>
       <option>17</option>
       <option>18</option>
       <option>19</option>
       <option>20</option>
      </select>
     </td>
    </tr>

    <tr>
     <td class="input-label">security</td>
     <td>
      <select id="secbits" name="secbits" onchange="accept_form_input(event);" >
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
       <option>6</option>
       <option selected="selected">7</option>
       <option>8</option>
       <option>9</option>
       <option>10</option>
       <option>11</option>
       <option>12</option>
       <option>13</option>
       <option>14</option>
       <option>15</option>
       <option>16</option>
      </select>
     </td>
    </tr>

    <tr>
     <td class="input-label">length</td>
     <td>
      <select id="length" name="length" onchange="accept_form_input(event);" >
       <option>8</option>
       <option>9</option>
       <option>10</option>
       <option>11</option>
       <option selected="selected">12</option>
       <option>13</option>
       <option>14</option>
       <option>15</option>
      </select>
     </td>
    </tr>

    <tr>
     <td class="input-label"># symbols</td>
     <td>
      <select id="nsym" name="nsym" onchange="accept_form_input(event);" >
       <option>0</option>
       <option>1</option>
       <option>2</option>
       <option>3</option>
      </select>
     </td>
    </tr>

    <tr>
     <td class="input-label">algo version</td>
     <td>
      <select id="version" name="version" onchange="accept_form_input(event);" >
       <option selected="selected">1</option>
       <option>2</option>
      </select>
     </td>
    </tr>

    <tr>
     <td class="input-label"></td>
     <td><input id="collapse" type="button" value="collapse" onclick="show_advanced(false);"></td>
    </tr>

   </tbody>

   <!-- Server syncing -->
   <tbody>

    <tr>
     <td class="input-label">server sync</td>
     <td><input id="sync" name="sync" type="checkbox" onclick="click_sync(event);"/></td>
    </tr>
   </tbody>

   <tbody id="sync-details" style="display: none"> 

    <tr>
     <td class="input-label">sync status</td>
     <td><span id="sync-status">...none...</span></td>
    </tr>
    
    <tr>
     <td class="input-label">server login</td>
     <td><span id="login-pw-status">...none...</span></td>
    </tr>
    
    <tr>
     <td class="input-label">encryption key</td>
     <td><span id="encryption-key-status">...none...</span></td>
    </tr>
    
    <tr>
     <td class="input-label">MAC key</td>
     <td><span id="mac-key-status">...none...</span></td>
    </tr>
   
   </tbody>

   <!-- Output Section -->
   <tbody>
    <tr>
     <td class="output-label">your pw</td>
     <td id="result-td-computing" style="display: none;">
      <input id="result-computing" type="text" readonly="readonly" value="computing"></input>
     </td>
     <td id="result-td-waiting" >...waiting for input...</td>
     <td id="result-td-done" style="display: none;">
      <input id="result-done" type="text" readonly="readonly" onclick="select_text(event);"></input>
     </td>
    </tr>
   
   </tbody>

   <!-- UI and cache security -->
   <tbody>
    <tr>
     <td class="input-label minor">hide typing</td>
     <td><input id="hide-passphrase" name="hide-passphrase" type="checkbox" onclick="click_hide_passphrase(event);" /></td>
    </tr>
    
     <tr>
     <td class="input-label minor">timeout</td>
     <td><input id="run-timers" name="run-timers" type="checkbox" onclick="click_run_timers(event);" checked="checked" /></td>
    </tr>
    
   </tbody>
    
  </table>
 </body>
</html>
