<html>
 <head>
  <title>One Shall Pass</title>
  <!--*

               O N E    S H A L L    P A S S
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

   This page uses in-line CSS and JavaScript, so you
   may take it with you as a portable utility.

   For more information, or to audit the file's JavaScript,
   please see https://github.com/maxtaco/oneshallpass

   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  *-->
  <script>
    {% include crypto.js %}
    {% include jquery.js %}
    {% include metastitch.js %}
    {% include purepack.js %}
    metastitch_module("purepack", "main"); 
    {% include iced.js %}
    {% include lib.js %}
    metastitch_finish();
    {% include main.js %}
  </script>
  <style type="text/css">
    {% include css/main.css %}
  </style>
  <meta name="viewport" content="width = device-width" />
 </head>
 <body>

  <div id="wrapper">
    <div id="col1">

      <div class="input-row">
        <div class="label">Email</div>
        <div class="input">
          <input type="text" id="input-email" value="you@example.com" />
        </div>
        <div class="visual-hash"></div>
        <div class="clear"></div>
      </div>

      <div class="input-row">
        <div class="label">Passphrase</div>
        <div class="input">
          <input type="text" id="input-passphrase" value="hot sauce lemon party" />
        </div>
        <div class="visual-hash"></div>
        <div class="clear"></div>
      </div>

      <div class="input-row" id="login-row">
        <div class="label">Optional Login</div>
        <div class="input">
          <button id="btn-login"  disabled="true" />Login</button>
          <button id="btn-logout" style="display:none;" />Logout</button>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="input-row" id="login-status-row" style="display:none;">
        <div class="label"></div>
        <div class="input">
          Hashing credentials...
        </div>
        <div class="clear"></div>
      </div>

      <div class="divider">
      </div>

      <div class="input-row">
        <div class="label">Host</div>
        <div class="input">
          <input type="text" id="input-host" value="iTunes" />
        </div>
        <div class="visual-hash"></div>
        <div class="clear"></div>
      </div>

      <div id="your-password">
        <div class="label">Your Password</div>
        <div id="password-container">&nbsp;</div>
        <div class="visual-hash"></div>
        <div class="clear"></div>
      </div>

      <div id="job-watcher">
      </div>

    </div>
    <div id="col2">
      <h1>One Shall Pass</h1>
      <div class="explanation">
        <p>
          One Shall Pass is a <i>browser-side</i> service for calculating strong, site-specific passwords. It is <a href="https://github.com/maxtaco/oneshallpass">open source</a>. In contrast to other password services, OSP does not save your passwords anywhere.
        </p>
        <p>
          This page is self-contained and may be saved or used offline for your convenience.
        </p>
        <p>
          <b>How does it work?</b> JavaScript mashes up your email address, a universal passphrase (which you choose and mustn't forget), and the name of a host, such as "github.com". It expensively hashes them thousands of times, to produce a site-specific password. If you enter the same inputs on another computer, OSP will
          yield the same password.  Therefore, your passwords will be (1) strong, (2) different, and yet (3) recoverable.  You simply must remember
          your universal passphrase and the names of your hosts.
        </p>
        <p id="sync-explanation">
          Afraid you'll forget what you called a host? (e.g., "gmail" or "google" or "gmail.google.com") 
          For convenience, you may push and pull your <i>encrypted</i> hostnames and settings with oneshallpass.com.
          Still, don't lose your universal passphrase! It is <i>not</i> synced and not recoverable.
        </p>
        <p>
          <a href="#no" onclick="showFAQ()">FAQ</a>
      </div>
      <div class="explanation" style="display:none;" id="faq">

      </div>
    </div>
    <div class="clear"></div>
  </div>

 </body>
</html>
