<html>
 <head>
  <title>One Shall Pass</title>
  <!--*

               O N E    S H A L L    P A S S 
         p a s s p h r a s e    g e n e r a t o r
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

   This page uses in-line CSS and JavaScript, so you
   may take it with you as a portable utility.

   For more information, or to audit the file's JavaScript,
   please see https://github.com/maxtaco/oneshallpass

   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  *-->
  <script>
    {% include crypto.js %}
    {% include jquery.js %}
    {% include dict.js %}
    {% include pp.js %}
  </script>
  <style type="text/css">
    {% include css/pp.css %}
  </style>
  <meta name="viewport" content="width = device-width" />
 </head>
 <body>

  <div id="wrapper">
    <div id="col1">
      <div class="bundle input-bundle">

        <div class="row">
          <div class="label">Random seeds</div>
          <div class="input">
            <textarea id="input-seed" class="default-message">...please press random keys...</textarea>
          </div>
          <div class="clear"></div>
        </div>

        <div class="row">
          <div class="label">Needed entropy</div>
          <div class="input">
            <select id="input-entropy" class="modified">
              <option>29 bits</option>
              <option>43 bits</option>
              <option selected="selected">58 bits</option>
              <option>72 bits</option>
              <option>87 bits</option>
            </select>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <div class="bundle output-bundle">
        <div class="row">
          <div class="label output-label">Your passphrase</div>
          <div class="output-row">
            <input type="text" id="output-passphrase" readonly="readonly" value="...waiting for input..." />
          </div>
        </div>
      </div>

    </div>

    <div id="col2">
      <h1>Passphrase Suggestor</h1>
      <div class="explanation">
      <p>Enter random junk from the keyboard.  This page will use your keystrokes, the times 
        between the keystrokes, and randomness from your operating system to key a random number
        generator. We then use this randomness to select combinations of words from the dictionary,
        whose combinations will have no inherent meaning.  Choose the amount of password entropy
        you want, and we'll pick the number of words requeired accordingly.
      </p>
      <p>All computations are done in your browser; check your debugging tabs to see
        that no network traffic occurs after the initial page load.
      </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>

 </body>
</html>
